# Prática01 - Análise de Produção e Exportação de Café

Após estudos sobre os conceitos de Pandas, como mesclagem, consultas, estatística descritiva, visualização e até SQL com Pandas, chegou o momento de colocar tudo em prática para aperfeiçoar os fundamentos estudado e também aprender coisas novas com a prática.

**O Dataset**:

Foi escolhido um dataset de _consumo e exportação de café_. Já que contém várias tabelas para se trabalhar será produtivo e benefico para testar os conhecimentos.

LINK: https://www.kaggle.com/datasets/michals22/coffee-dataset?select=Coffee_export.csv

___

# Importação das bibliotecas

In [1]:
import pandas as pd
import matplotlib as plt

___

# 1. Carregar e explorar os datasets

In [2]:
df_export = pd.read_csv('coffee_dataset/Coffee_export.csv', sep=',', header=0)
df_production = pd.read_csv('coffee_dataset/Coffee_production.csv', sep=',', header=0)

In [3]:
df_import = pd.read_csv('coffee_dataset/Coffee_import.csv', sep=',', header=0)

In [6]:
df_export.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_export
0,Angola,5040000,4260000,4800000,2340000,480000,2460000,3120000,3000000,3240000,...,480000,480000,360000,540000,660000,660000,540000,540000,1380000,43320000
1,Bolivia (Plurinational State of),9360000,4440000,5760000,2820000,5040000,5640000,7380000,6660000,5820000,...,4440000,3780000,3300000,3720000,1800000,1320000,1560000,1320000,1200000,137460000
2,Brazil,1016160000,1270980000,1127460000,1070280000,1036380000,868080000,915060000,1008060000,1088640000,...,2028360000,1712940000,1899060000,-2147483648,-2147483648,2056140000,1855500000,2138220000,-2147483648,33807709056
3,Burundi,35100000,41280000,38760000,25080000,30480000,31680000,13440000,31740000,22440000,...,13080000,23520000,11700000,15120000,13800000,12240000,10140000,12120000,17580000,646200000
4,Cameroon,156660000,105120000,98760000,42300000,32760000,24420000,33840000,82080000,44760000,...,29400000,37320000,16320000,22500000,23400000,16860000,14700000,17220000,15000000,1399920000

In [13]:
df_export.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 32 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       55 non-null     object
 1   1990          55 non-null     int64
 2   1991          55 non-null     int64
 3   1992          55 non-null     int64
 4   1993          55 non-null     int64
 5   1994          55 non-null     int64
 6   1995          55 non-null     int64
 7   1996          55 non-null     int64
 8   1997          55 non-null     int64
 9   1998          55 non-null     int64
 10  1999          55 non-null     int64
 11  2000          55 non-null     int64
 12  2001          55 non-null     int64
 13  2002          55 non-null     int64
 14  2003          55 non-null     int64
 15  2004          55 non-null     int64
 16  2005          55 non-null     int64
 17  2006          55 non-null     int64
 18  2007          55 non-null     int64
 19  2008          55 non-null     int64
 20  2009          55 non-null     int64
 21  2010          55 non-null     int64
 22  2011          55 non-null     int64
 23  2012          55 non-null     int64
 24  2013          55 non-null     int64
 25  2014          55 non-null     int64
 26  2015          55 non-null     int64
 27  2016          55 non-null     int64
 28  2017          55 non-null     int64
 29  2018          55 non-null     int64
 30  2019          55 non-null     int64
 31  Total_export  55 non-null     int64
dtypes: int64(31), object(1)
memory usage: 13.9+ KB

In [14]:
# Existe registros nulos?
df_export.isnull().sum()

Country         0
1990            0
1991            0
1992            0
1993            0
1994            0
1995            0
1996            0
1997            0
1998            0
1999            0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
Total_export    0
dtype: int64

In [8]:
df_production.head()

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_production
0,Angola,Robusta/Arabica,3.000000e+06,4.740000e+06,4.680000e+06,1.980000e+06,4.620000e+06,3.720000e+06,4.260000e+06,3.840000e+06,...,1.740000e+06,1.980000e+06,2.100000e+06,2.340000e+06,2.460000e+06,2.700000e+06,2.100000e+06,2.520000e+06,3.120000e+06,8.208000e+07
1,Bolivia (Plurinational State of),Arabica,7.380000e+06,6.240000e+06,7.200000e+06,3.060000e+06,7.020000e+06,8.520000e+06,7.500000e+06,8.460000e+06,...,7.920000e+06,6.300000e+06,7.200000e+06,6.000000e+06,5.040000e+06,4.680000e+06,5.040000e+06,4.980000e+06,4.860000e+06,2.070000e+08
2,Brazil,Arabica/Robusta,1.637160e+09,1.637580e+09,2.076180e+09,1.690020e+09,1.691520e+09,1.083600e+09,1.751820e+09,1.568880e+09,...,2.915520e+09,3.325080e+09,3.281340e+09,3.198300e+09,3.172260e+09,3.407280e+09,3.164400e+09,3.907860e+09,3.492660e+09,7.508298e+10
3,Burundi,Arabica/Robusta,2.922000e+07,4.002000e+07,3.720000e+07,2.358000e+07,3.984000e+07,2.604000e+07,2.406000e+07,1.500000e+07,...,1.224000e+07,2.436000e+07,9.780000e+06,1.488000e+07,1.614000e+07,1.176000e+07,1.212000e+07,1.224000e+07,1.632000e+07,6.236400e+08
4,Ecuador,Arabica/Robusta,9.024000e+07,1.274400e+08,7.110000e+07,1.241400e+08,1.425600e+08,1.132800e+08,1.195800e+08,7.146000e+07,...,4.950000e+07,4.968000e+07,3.996000e+07,3.864000e+07,3.864000e+07,3.870000e+07,3.744000e+07,2.976000e+07,3.354000e+07,1.900380e+09

In [16]:
df_production.isnull().sum()

Country             0
Coffee type         0
1990/91             0
1991/92             0
1992/93             0
1993/94             0
1994/95             0
1995/96             0
1996/97             0
1997/98             0
1998/99             0
1999/00             0
2000/01             0
2001/02             0
2002/03             0
2003/04             0
2004/05             0
2005/06             0
2006/07             0
2007/08             0
2008/09             0
2009/10             0
2010/11             0
2011/12             0
2012/13             0
2013/14             0
2014/15             0
2015/16             0
2016/17             0
2017/18             0
2018/19             0
2019/20             0
Total_production    0
dtype: int64

In [34]:
df_import.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_import
0,Austria,112800000,123480000,132360000,110160000,85020000,73860000,72600000,77640000,77580000,...,87120000,93540000,93300000,91500000,90780000,89700000,87600000,85740000,86880000,2765760000
1,Belgium,0,0,0,0,0,0,0,0,0,...,349680000,340080000,330120000,312720000,332040000,363120000,340620000,344520000,371940000,6240540000
2,Belgium/Luxembourg,120900000,104760000,109680000,123780000,135720000,144060000,151560000,152640000,214800000,...,0,0,0,0,0,0,0,0,0,1257900000
3,Bulgaria,16080000,12000000,10920000,23820000,27780000,30900000,16320000,17640000,20520000,...,28920000,33600000,36540000,37260000,40920000,46740000,42420000,44220000,47100000,830700000
4,Croatia,0,0,10080000,9780000,11580000,19200000,19320000,23100000,20340000,...,23460000,23040000,24780000,25200000,26220000,28740000,26340000,26760000,27960000,622080000

___

# 2. Limpeza e Tratamento

Como ele não tem dados nulos nem inconsistentes, não preciso tratar esses dados;

Pensei em tratar também os dados do segundo dataset (production), porém o que eu pensei ser erro é apenas uma maneira do Pandas de tratar valores muito grandes.

Nas colunas dos anos, os registros estão assim: 3.000000**e+06**, isso é notação cientifica. O pandas trabalha dessa forma quando os números são muito grande ou muito pequenos. Nesse exemplo ai, o valor seria de 3 milhões (3.000.000).

Vou apenas mudar a maneira que o pandas exibe esses valores:

In [32]:
# Faz o Pandas mostrar celulas do tipo float, nesse caso números, em números "normais" 
pd.set_option('display.float_format', '{:,.0f}'.format)

In [30]:
df_production.head()

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_production
0,Angola,Robusta/Arabica,"3,000,000","4,740,000","4,680,000","1,980,000","4,620,000","3,720,000","4,260,000","3,840,000",...,"1,740,000","1,980,000","2,100,000","2,340,000","2,460,000","2,700,000","2,100,000","2,520,000","3,120,000","82,080,000"
1,Bolivia (Plurinational State of),Arabica,"7,380,000","6,240,000","7,200,000","3,060,000","7,020,000","8,520,000","7,500,000","8,460,000",...,"7,920,000","6,300,000","7,200,000","6,000,000","5,040,000","4,680,000","5,040,000","4,980,000","4,860,000","207,000,000"
2,Brazil,Arabica/Robusta,"1,637,160,000","1,637,580,000","2,076,180,000","1,690,020,000","1,691,520,000","1,083,600,000","1,751,820,000","1,568,880,000",...,"2,915,520,000","3,325,080,000","3,281,340,000","3,198,300,000","3,172,260,000","3,407,280,000","3,164,400,000","3,907,860,000","3,492,660,000","75,082,980,000"
3,Burundi,Arabica/Robusta,"29,220,000","40,020,000","37,200,000","23,580,000","39,840,000","26,040,000","24,060,000","15,000,000",...,"12,240,000","24,360,000","9,780,000","14,880,000","16,140,000","11,760,000","12,120,000","12,240,000","16,320,000","623,640,000"
4,Ecuador,Arabica/Robusta,"90,240,000","127,440,000","71,100,000","124,140,000","142,560,000","113,280,000","119,580,000","71,460,000",...,"49,500,000","49,680,000","39,960,000","38,640,000","38,640,000","38,700,000","37,440,000","29,760,000","33,540,000","1,900,380,000"

___

# 3. Mesclagem de dados

In [5]:
prod_import = pd.merge(
    df_export,
    df_production,
    on='Country'
)

In [6]:
prod_import.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_production
0,Angola,5040000,4260000,4800000,2340000,480000,2460000,3120000,3000000,3240000,...,1.740000e+06,1.980000e+06,2.100000e+06,2.340000e+06,2.460000e+06,2.700000e+06,2.100000e+06,2.520000e+06,3.120000e+06,8.208000e+07
1,Bolivia (Plurinational State of),9360000,4440000,5760000,2820000,5040000,5640000,7380000,6660000,5820000,...,7.920000e+06,6.300000e+06,7.200000e+06,6.000000e+06,5.040000e+06,4.680000e+06,5.040000e+06,4.980000e+06,4.860000e+06,2.070000e+08
2,Brazil,1016160000,1270980000,1127460000,1070280000,1036380000,868080000,915060000,1008060000,1088640000,...,2.915520e+09,3.325080e+09,3.281340e+09,3.198300e+09,3.172260e+09,3.407280e+09,3.164400e+09,3.907860e+09,3.492660e+09,7.508298e+10
3,Burundi,35100000,41280000,38760000,25080000,30480000,31680000,13440000,31740000,22440000,...,1.224000e+07,2.436000e+07,9.780000e+06,1.488000e+07,1.614000e+07,1.176000e+07,1.212000e+07,1.224000e+07,1.632000e+07,6.236400e+08
4,Cameroon,156660000,105120000,98760000,42300000,32760000,24420000,33840000,82080000,44760000,...,4.014000e+07,2.226000e+07,2.424000e+07,2.898000e+07,2.346000e+07,1.752000e+07,2.220000e+07,1.860000e+07,1.608000e+07,1.358640e+09

___

# 4. Consultas e estatística descritiva

- Calcule estatísticas por país:
    - Produção média de café por país.
    - Países com maior exportação total.
    - Crescimento ao longo dos anos.

In [6]:
df_production.head()

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_production
0,Angola,Robusta/Arabica,3.000000e+06,4.740000e+06,4.680000e+06,1.980000e+06,4.620000e+06,3.720000e+06,4.260000e+06,3.840000e+06,...,1.740000e+06,1.980000e+06,2.100000e+06,2.340000e+06,2.460000e+06,2.700000e+06,2.100000e+06,2.520000e+06,3.120000e+06,8.208000e+07
1,Bolivia (Plurinational State of),Arabica,7.380000e+06,6.240000e+06,7.200000e+06,3.060000e+06,7.020000e+06,8.520000e+06,7.500000e+06,8.460000e+06,...,7.920000e+06,6.300000e+06,7.200000e+06,6.000000e+06,5.040000e+06,4.680000e+06,5.040000e+06,4.980000e+06,4.860000e+06,2.070000e+08
2,Brazil,Arabica/Robusta,1.637160e+09,1.637580e+09,2.076180e+09,1.690020e+09,1.691520e+09,1.083600e+09,1.751820e+09,1.568880e+09,...,2.915520e+09,3.325080e+09,3.281340e+09,3.198300e+09,3.172260e+09,3.407280e+09,3.164400e+09,3.907860e+09,3.492660e+09,7.508298e+10
3,Burundi,Arabica/Robusta,2.922000e+07,4.002000e+07,3.720000e+07,2.358000e+07,3.984000e+07,2.604000e+07,2.406000e+07,1.500000e+07,...,1.224000e+07,2.436000e+07,9.780000e+06,1.488000e+07,1.614000e+07,1.176000e+07,1.212000e+07,1.224000e+07,1.632000e+07,6.236400e+08
4,Ecuador,Arabica/Robusta,9.024000e+07,1.274400e+08,7.110000e+07,1.241400e+08,1.425600e+08,1.132800e+08,1.195800e+08,7.146000e+07,...,4.950000e+07,4.968000e+07,3.996000e+07,3.864000e+07,3.864000e+07,3.870000e+07,3.744000e+07,2.976000e+07,3.354000e+07,1.900380e+09

### O que é melt?

O pandas.melt() é usado para transformar um DataFrame de formato “largo” (wide) para um formato “longo” (long).

_Em termos simples_:
Ele desfaz as colunas e as transforma em linhas, mantendo apenas as colunas que você quiser fixas.

**Parâmetros principais do melt:**

| Parâmetro    | O que faz                                                      |
| ------------ | -------------------------------------------------------------- |
| `id_vars`    | As colunas que você quer manter fixas (ex: país, tipo de café) |
| `value_vars` | As colunas que você quer derreter (geralmente anos)            |
| `var_name`   | Nome da nova coluna que guardará os nomes das antigas colunas  |
| `value_name` | Nome da nova coluna com os valores                             |

In [25]:
# Vamos transformar o dataset de produção para formato longo
prod_long = df_production.melt(
    id_vars=['Country', 'Coffee type', 'Total_production'], # São as colunas fixas (que se repetem em cada linha)
    var_name='Year', # Nome da coluna que vai conter os anos
    value_name='Production' # nome da coluna que vai conter a Produção por ano
)

In [26]:
# Deletando a coluna Total_production pois ela não está servindo no momento
prod_long.drop('Total_production', axis=1, inplace=True)

In [27]:
# prod_long[prod_long['Country'] == 'Brazil']

# Agora podemos agrupar e calcular a média por país
media_producao = prod_long.groupby('Country')['Production'].mean().reset_index()

In [29]:
media_producao.head()

                            Country    Production
0                            Angola  2.736000e+06
1  Bolivia (Plurinational State of)  6.900000e+06
2                            Brazil  2.502766e+09
3                           Burundi  2.078800e+07
4                          Cameroon  4.528800e+07

### Paises com maior exportação total

In [32]:
# Transforma export em formato longo
export_long = df_export.melt(
    id_vars=['Country', 'Total_export'],
    var_name='Year',
    value_name='Export'
)

In [33]:
export_long.head()

                            Country  Total_export  Year      Export
0                            Angola      43320000  1990     5040000
1  Bolivia (Plurinational State of)     137460000  1990     9360000
2                            Brazil   33807709056  1990  1016160000
3                           Burundi     646200000  1990    35100000
4                          Cameroon    1399920000  1990   156660000

In [34]:
# Soma total exportado por país
total_export = export_long.groupby('Country')['Export'].sum().reset_index()

In [35]:
# Ordena do maior para o menor
total_export = total_export.sort_values(by='Export', ascending=False)

In [36]:
total_export.head()

      Country       Export
2      Brazil  33807709056
51   Viet Nam  24924480000
6    Colombia  19878480000
25  Indonesia  10607940000
24      India   6933960000

### Crescimento ao longo dos anos

In [48]:
# Exemplo com o Brasil
brasil = prod_long[prod_long['Country'] == 'Brazil'].sort_values('Year')

In [49]:
# Calcula a variação percentual ano a ano
brasil['Growth'] = brasil['Production'].pct_change() * 100

In [50]:
brasil['Production'] = brasil['Production'] / 1_000_000  # converte para milhões de sacas/toneladas

In [51]:
brasil.head()

    Country      Coffee type     Year  Production     Growth
2    Brazil  Arabica/Robusta  1990/91     1637.16        NaN
57   Brazil  Arabica/Robusta  1991/92     1637.58   0.025654
112  Brazil  Arabica/Robusta  1992/93     2076.18  26.783424
167  Brazil  Arabica/Robusta  1993/94     1690.02 -18.599543
222  Brazil  Arabica/Robusta  1994/95     1691.52   0.088756

## Usando Pivot_table

A ideia é responder perguntas como:

“Qual o volume médio de produção por tipo de café ao longo dos anos?”

In [58]:
prod_pivot = pd.pivot_table(
    prod_long,
    values='Production',
    index='Coffee type',  # agrupa por tipo de café
    aggfunc='mean'        # calcula a média de produção
)

In [59]:
prod_pivot

                   Production
Coffee type
Arabica          8.783109e+07
Arabica/Robusta  4.027850e+08
Robusta          1.692840e+07
Robusta/Arabica  2.116004e+08

Outra coisa útil seria ver a média por tipo de café e por ano:

In [60]:
prod_pivot_2 = pd.pivot_table(
    prod_long,
    values='Production',
    index='Year',
    columns='Coffee type',
    aggfunc='mean'
)

In [62]:
prod_pivot_2.head()

Coffee type       Arabica  Arabica/Robusta     Robusta  Robusta/Arabica
Year
1990/91      8.214273e+07      299977500.0  17760000.0      112044000.0
1991/92      9.427091e+07      301245000.0  23656000.0      123738000.0
1992/93      8.616273e+07      348382500.0  15256000.0       99978000.0
1993/94      7.244182e+07      311587500.0  13256000.0      122028000.0
1994/95      7.799727e+07      312945000.0  17980000.0      110964000.0

## Usando crosstab

pd.crosstab() serve para contar frequências entre categorias.
No seu caso, podemos perguntar, por exemplo:

“Quantos países produzem cada tipo de café?”

In [63]:
prod_tabela = pd.crosstab(prod_long['Country'], prod_long['Coffee type'])

In [69]:
prod_tabela.head()

Coffee type,Arabica,Arabica/Robusta,Robusta,Robusta/Arabica
Country,,,,
Angola,0,0,0,30
Bolivia (Plurinational State of),30,0,0,0
Brazil,0,30,0,0
Burundi,0,30,0,0
Cameroon,0,0,0,30