In [2]:
import pandas as pd

Os t√≥picos a seguir foram retirados de estudos do curso: "Data Science e Machine Learning - Asimov Academy, e de outros locais de sites da internet.

# 2. Analisando dados com Pandas

### 2.1. Conceitos b√°sicos de Pandas


A Ci√™ncia de Dados, ou a An√°lise de Dados, √© um ramo que vem ganhando cada vez mais notoriedade, v√°rias empresas de pequeno a grande porte, como a Netflix, Airbnb e Google j√° possuem atividades de tomada de decis√£o baseadas em dados. Nesse cen√°rio, a linguagem Python √© bastante utilizada devido a sua versatilidade e simplicidade, contando com uma vasta quantidade de bibliotecas, e entre elas, o Pandas.

#### O que √© Pandas?

Pandas √© uma biblioteca de c√≥digo aberto (open source), constru√≠da sobre a linguagem Python, e que providencia uma abordagem r√°pida e flex√≠vel, com estruturas robustas para se trabalhar com dados relacionais (ou rotulados), e tudo isso de maneira simples e intuitiva.

De maneira geral, o Pandas pode ser utilizado para v√°rias atividades e processos, entre eles: **limpeza e tratamento de dados, an√°lise explorat√≥ria de dados (EDA)**, suporte em atividades de Machine Learning, consultas e queries em bancos de dados relacionais, visualiza√ß√£o de dados, webscraping e muito mais. E al√©m disso, tamb√©m possui √≥tima integra√ß√£o com v√°rias outras bibliotecas muito utilizadas em Ci√™ncia de Dados, tais como: Numpy, Scikit-Learn, Seaborn, Altair, Matplotlib, Plotly, Scipy e outros.

___

### 2.4. Series

A estrutura principal do Pandas √© composta por dois tipos de objetos: _Series e DataFrames_, vamos falar um pouco sobre o primeiro tipo;

As _Series_ nada mais s√£o que uma esp√©cie de arranjo unidimensional, como uma lista por exemplo, mas que possui algumas caracter√≠sticas diferentes, uma delas √© que possui r√≥tulos para cada elemento do array, ou seja, **uma S√©rie √© um array unidimensional capaz de armazenar qualquer tipo de dado e vem com um √≠ndice que nos ajuda a localizar esses dados rapidamente.** Para facilitar, pense na _Serie_ como uma coluna de uma tabela no Excel.

Uma s√©rie tem 4 partes importantes:
- Os elementos em si
- O √≠ndice que cont√©m a refer√™ncia para acessar os elementos
- O tipo dos elementos
- Um nome

#### Elementos e Tipos

Os elementos podem ser de qualquer tipo, ou seja, podemos ter uma s√©rie com n√∫meros e strings, por exemplo.

Abaixo, criamos duas s√©ries de exemplo de forma bem parecida como criamos a lista, com a exce√ß√£o de que as criamos a partir da classe Series do pandas:

In [3]:
serie = pd.Series([42, 99, -1])
serie

0    42
1    99
2    -1
dtype: int64

In [4]:
serie2 = pd.Series(['radiohead', 2.3, True])
serie2

0    radiohead
1          2.3
2         True
dtype: object

#### Acessando elementos

Numa lista, acessamos os elementos por meio de √≠ndices posicionais, num√©ricos, certo?

Acessar o primeiro elemento: lista[0], o terceiro elemento: lista[2], e assim por diante.

Nas s√©ries podemos acessar da mesma forma, por√©m, podemos acessar os elementos de uma _serie_ com um √≠ndice posicional, mas n√£o precisa ser assim, podemos criar um √≠ndice pr√≥prio que nem precisa ser num√©rico.

Vamos criar um caso de exemplo, queremos guardar as calorias de cada alimento que vamos ingerir... E com isso criamos uma serie com as calorias de uma banana, um prato feito e um big mac:

In [7]:
serie_sem_nome = pd.Series([200, 350, 550])
serie_sem_nome

0    200
1    350
2    550
dtype: int64

In [8]:
# Vamos agora dar nomes aos indices e assim saberemos quais calorias √© de quais alimentos:
serie_com_nome = pd.Series([200, 350, 550], index=['banana', 'prato feito', 'big mac'])
serie_com_nome

banana         200
prato feito    350
big mac        550
dtype: int64

In [10]:
# Quantas calorias tem um big mac?
serie_com_nome['big mac']

np.int64(550)

Vamos para mais um exemplo, para conseguirmos entender sobre acessar os elementos de uma **serie**

In [19]:
labels = ['a', 'b', 'c']
minha_lista = [10, 20, 30]
d = {'a':10, 'b':20, 'c':30} # Um dicion√°rio para utilizar no Series

**Uma observa√ß√£o importante:**
N√£o preciso especificar qual ser√° meu _data_ ou meu _index_, o pandas identifica autom√°ticamente quando eu coloco em ordem, veja os exemplos abaixo.

In [14]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [16]:
pd.Series(labels, minha_lista)
# A mesma coisa seria: pd.Series(data=labels, index=minha_lista)

10    a
20    b
30    c
dtype: object

Eu tamb√©m posso utilizar dicion√°rios no Series, e o interessante √© que, automaticamente o _pandas_ identifica a chave do dicion√°rio como o indice do elemento. Vejamos abaixo:

In [17]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [18]:
d2 = {"banana": 34, "uva": 21, "laranja": 22} # Quantidade de frutas que eu tenho
pd.Series(d2)

banana     34
uva        21
laranja    22
dtype: int64

In [22]:
# Quantas bananas eu tenho?
d2['banana']

34

___

### 2.5. DataFrames

O DataFrame do Pandas √© uma maneira de representar e trabalhar com dados tabulares. Ele pode ser visto como uma tabela que organiza os dados em linhas e colunas, criando uma estrutura de dados bidimensional. Um DataFrame pode ser criado do zero ou voc√™ pode usar outras estruturas de dados, como matrizes NumPy.

Em outras palavras: DataFrames s√£o estruturas 2D (linhas e colunas) ‚Äî parecida com uma planilha do Excel ou uma tabela SQL.

#### Criando DataFrames

In [28]:
# Criando DataFrames a partir de dicion√°rios:

dados = {
'Nome': ['Ana', 'Bruno', 'Carlos'],
'Idade': [25, 30, 35],
'Cidade': ['S√£o Paulo', 'Rio de Janeiro', 'Belo Horizonte']
}

df = pd.DataFrame(dados)
print(df)

     Nome  Idade          Cidade
0     Ana     25       S√£o Paulo
1   Bruno     30  Rio de Janeiro
2  Carlos     35  Belo Horizonte

In [32]:
# Criando DataFrames a partir de listas:
df2 = pd.DataFrame({'Calorias':[200, 350, 550], 'Gordura (%)':[0, 6, 15]}, index=['banana', 'prato feito', 'big mac'])
print(df2)
print()

             Calorias  Gordura (%)
banana            200            0
prato feito       350            6
big mac           550           15

#### Acessando DataFrames

Quando trabalhamos com Series, acessamos atraves do indice, j√° nos DataFrammes, acessamos atraves do nome da coluna

In [36]:
df[['Cidade']] # Retornar a consulta como DataFrame

           Cidade
0       S√£o Paulo
1  Rio de Janeiro
2  Belo Horizonte

In [37]:
df['Cidade'] # Retornar a consulta como Serie

0         S√£o Paulo
1    Rio de Janeiro
2    Belo Horizonte
Name: Cidade, dtype: object

#### Adicionando colunas

In [55]:
df['new'] = df['Idade']

In [39]:
df

     Nome  Idade          Cidade  new
0     Ana     25       S√£o Paulo   25
1   Bruno     30  Rio de Janeiro   30
2  Carlos     35  Belo Horizonte   35

In [44]:
# Quantas calorias eu consumiria ao comer duas vezes:
df2['Total_Calorias'] = df2['Calorias'] * 2

In [43]:
df2

             Calorias  Gordura (%)  Total_Calorias
banana            200            0             400
prato feito       350            6             700
big mac           550           15            1100

#### Deletando colunas do DataFrame

Um observa√ß√£o curiosa √© que, no Pandas, se n√£o for especificado, ele ira trabalhar com uma especie de copia do DataFrame, e voc√™ trabalhar√° com isso, at√© que seja especificado que voc√™ quer que seja o original. O que isso quer dizer?

Vamos atentar ao exemplo abaixo:

In [50]:
df.drop('new', axis=1)	

# axis=0 corresponde a linhas
# axis=1 corresponde a colunas

     Nome  Idade          Cidade
0     Ana     25       S√£o Paulo
1   Bruno     30  Rio de Janeiro
2  Carlos     35  Belo Horizonte

O comando: _df.drop('new', axis=1)_ diz para o Pandas apagar a coluna que tem o nome 'new'. Por√©m, ele trabalha com o 'como seria' se for feito dessa maneira.

Se eu for acessar novamente esse dataframe, a coluna 'new' ainda estar√° l√°:

In [51]:
df

     Nome  Idade          Cidade  new
0     Ana     25       S√£o Paulo   25
1   Bruno     30  Rio de Janeiro   30
2  Carlos     35  Belo Horizonte   35

Ent√£o, como eu apago definitivamente a coluna?

Existem diversas maneiras, uma delas √© salvar em um novo DataFrame:

In [52]:
df3 = df.drop('new', axis=1)
df3

     Nome  Idade          Cidade
0     Ana     25       S√£o Paulo
1   Bruno     30  Rio de Janeiro
2  Carlos     35  Belo Horizonte

Ou ent√£o, utilizar a flag da pr√≥pria fun√ß√£o que permite fazer isso:

In [56]:
df.drop('new', axis=1, inplace=True) # Est√° dizendo que quero deletar do DataFrame Original sem c√≥pias

In [57]:
df

     Nome  Idade          Cidade
0     Ana     25       S√£o Paulo
1   Bruno     30  Rio de Janeiro
2  Carlos     35  Belo Horizonte

### üîç Principais opera√ß√µes com DataFrame:

| Comando                | O que faz                                      | Exemplo                             |
| ---------------------- | ---------------------------------------------- | ----------------------------------- |
| `.head()`              | Mostra as 5 primeiras linhas                   | `df.head()`                         |
| `.tail()`              | Mostra as 5 √∫ltimas linhas                     | `df.tail()`                         |
| `.shape`               | Retorna (linhas, colunas)                      | `df.shape`                          |
| `.columns`             | Mostra os nomes das colunas                    | `df.columns`                        |
| `.index`               | Mostra os √≠ndices                              | `df.index`                          |
| Acessar uma coluna     | Retorna uma Series                             | `df['Nome']`                        |
| Acessar v√°rias colunas | Retorna outro DataFrame com colunas escolhidas | `df[['Nome', 'Idade']]`             |
| Acessar uma linha      | Retorna uma linha espec√≠fica                   | `df.loc[0]`                         |
| Filtrar linhas         | Retorna linhas com condi√ß√£o l√≥gica             | `df[df['Idade'] > 25]`              |
| Adicionar coluna       | Cria uma nova coluna                           | `df['Altura'] = [1.65, 1.80, 1.70]` |
| Remover coluna         | Remove uma coluna                              | `df.drop('Cidade', axis=1)`         |
| Ordenar por coluna     | Ordena as linhas                               | `df.sort_values('Idade')`           |

### üìù Exemplo completo:

In [12]:
dados2 = {
    'Nome': ['Ana', 'Bruno', 'Carla'],
    'Idade': [25, 30, 22],
    'Cidade': ['S√£o Paulo', 'Rio de Janeiro', 'Curitiba']
}

df_dados2 = pd.DataFrame(dados2)

print("DataFrame completo:\n", df_dados2)
print("----------------------------------------")
print("\nSomente a coluna Nome:\n", df_dados2['Nome'])
print("----------------------------------------")
print("\nSomente as duas primeiras linhas:\n", df_dados2.head(2))
print("----------------------------------------")
print("\nFiltrando quem tem Idade maior que 23 anos:\n", df_dados2[df_dados2['Idade'] > 23])
print("----------------------------------------")
print("\nDataFrame ordenado pela Idade:\n", df_dados2.sort_values('Idade'))
print("----------------------------------------")

DataFrame completo:
     Nome  Idade          Cidade
0    Ana     25       S√£o Paulo
1  Bruno     30  Rio de Janeiro
2  Carla     22        Curitiba
----------------------------------------

Somente a coluna Nome:
 0      Ana
1    Bruno
2    Carla
Name: Nome, dtype: object
----------------------------------------

Somente as duas primeiras linhas:
     Nome  Idade          Cidade
0    Ana     25       S√£o Paulo
1  Bruno     30  Rio de Janeiro
----------------------------------------

Filtrando quem tem Idade maior que 23 anos:
     Nome  Idade          Cidade
0    Ana     25       S√£o Paulo
1  Bruno     30  Rio de Janeiro
----------------------------------------

DataFrame ordenado pela Idade:
     Nome  Idade          Cidade
2  Carla     22        Curitiba
0    Ana     25       S√£o Paulo
1  Bruno     30  Rio de Janeiro
----------------------------------------

____

# 2.6. Iloc e Filtros

### O que √© .iloc[]?
.iloc[] √© usado para selecionar linhas e colunas pelo n√∫mero da posi√ß√£o (√≠ndice inteiro). Significa: "integer-location based indexing".

Ou seja: voc√™ n√£o usa o nome da coluna ou do √≠ndice personalizado ‚Äî usa apenas n√∫meros (0, 1, 2, ...).

In [14]:
# Vamos utilizar o dataFrame anterior: dados2
df_dados2

    Nome  Idade          Cidade
0    Ana     25       S√£o Paulo
1  Bruno     30  Rio de Janeiro
2  Carla     22        Curitiba

## Utilizando o *iloc*:

**Aten√ß√£o**: O √≠ndice come√ßa do zero, e como consequencia o fatiamento √© igual ao range() do Python, por exemplo:

Dado os seguintes valores: (5, 2, 6, 8). Fa√ßa um fatiamento de (0, 2).

Resultado: _(5, 2)_


**Quando usar .iloc[]?**
- ‚úîÔ∏è Quando voc√™ quer selecionar pelo n√∫mero da posi√ß√£o da linha/coluna, e n√£o pelo nome.
- ‚úîÔ∏è Muito √∫til em la√ßos, fun√ß√µes ou manipula√ß√µes onde n√£o sabe o nome da coluna.

___

### 1. Selecionar uma linha especifica:

In [16]:
df.iloc[0]
# Vai selecionar a primeira linha do dataFrame

Nome            Ana
Idade            25
Cidade    S√£o Paulo
Name: 0, dtype: object

### 2. Selecionar uma c√©lula espec√≠fica (linha, coluna):

In [19]:
df.iloc[0, 1] # Primeira linha, segunda coluna

# O resultado ser√° a idade de Ana, 25

np.int64(25)

### 3. Selecionar um intervalo de linhas (slice):

In [23]:
df.iloc[0:2] # Vai retornar as duas primeiras linhas

    Nome  Idade          Cidade
0    Ana     25       S√£o Paulo
1  Bruno     30  Rio de Janeiro

### 4. Selecionar uma coluna espec√≠fica (todas as linhas, coluna 0):

In [25]:
df.iloc[:, 0] # Retorna a coluna 'Nome' e todas as linhas da coluna

0      Ana
1    Bruno
2    Carla
Name: Nome, dtype: object

### 5. Selecionar um "peda√ßo" espec√≠fico:

In [27]:
df.iloc[0:2, 0:2]    # Linhas 0 e 1, Colunas 0 e 1

    Nome  Idade
0    Ana     25
1  Bruno     30


### üìå Diferen√ßa entre .loc[] e .iloc[]:

| M√©todo    | Baseado em...        | Exemplo             |
| --------- | -------------------- | ------------------- |
| `.loc[]`  | **Nome** (label)     | `df.loc[0, 'Nome']` |
| `.iloc[]` | **Posi√ß√£o (n√∫mero)** | `df.iloc[0, 0]`     |

# Referencias:

- Sobre Series:
    - https://pythonacademy.com.br/blog/series-no-pandas
 

- Sobre DataFrames:
    - https://pythonacademy.com.br/blog/dataframes-do-pandas
 
- https://www.alura.com.br/artigos/pandas-o-que-e-para-que-serve-como-instalar?srsltid=AfmBOoownB66j48peufL3Qc19kyDVEx4h1Id7PtWKpn9LGqSsJOU1dwZ