In [1]:
import pandas as pd

Os tópicos a seguir foram retirados de estudos do curso: "Data Science e Machine Learning - Asimov Academy

# 2. Analisando dados com Pandas

### 2.1. Conceitos básicos de Pandas


A Ciência de Dados, ou a Análise de Dados, é um ramo que vem ganhando cada vez mais notoriedade, várias empresas de pequeno a grande porte, como a Netflix, Airbnb e Google já possuem atividades de tomada de decisão baseadas em dados. Nesse cenário, a linguagem Python é bastante utilizada devido a sua versatilidade e simplicidade, contando com uma vasta quantidade de bibliotecas, e entre elas, o Pandas.

#### O que é Pandas?

Pandas é uma biblioteca de código aberto (open source), construída sobre a linguagem Python, e que providencia uma abordagem rápida e flexível, com estruturas robustas para se trabalhar com dados relacionais (ou rotulados), e tudo isso de maneira simples e intuitiva.

De maneira geral, o Pandas pode ser utilizado para várias atividades e processos, entre eles: **limpeza e tratamento de dados, análise exploratória de dados (EDA)**, suporte em atividades de Machine Learning, consultas e queries em bancos de dados relacionais, visualização de dados, webscraping e muito mais. E além disso, também possui ótima integração com várias outras bibliotecas muito utilizadas em Ciência de Dados, tais como: Numpy, Scikit-Learn, Seaborn, Altair, Matplotlib, Plotly, Scipy e outros.

### 2.4. Series

A estrutura principal do Pandas é composta por dois tipos de objetos: _Series e DataFrames_, vamos falar um pouco sobre o primeiro tipo;

As _Series_ nada mais são que uma espécie de arranjo unidimensional, como uma lista por exemplo, mas que possui algumas características diferentes, uma delas é que possui rótulos para cada elemento do array, ou seja, **uma Série é um array unidimensional capaz de armazenar qualquer tipo de dado e vem com um índice que nos ajuda a localizar esses dados rapidamente.** Para facilitar, pense na _Serie_ como uma coluna de uma tabela no Excel.

Uma série tem 4 partes importantes:
- Os elementos em si
- O índice que contém a referência para acessar os elementos
- O tipo dos elementos
- Um nome

#### Elementos e Tipos

Os elementos podem ser de qualquer tipo, ou seja, podemos ter uma série com números e strings, por exemplo.

Abaixo, criamos duas séries de exemplo de forma bem parecida como criamos a lista, com a exceção de que as criamos a partir da classe Series do pandas:

In [3]:
serie = pd.Series([42, 99, -1])
serie

0    42
1    99
2    -1
dtype: int64

In [4]:
serie2 = pd.Series(['radiohead', 2.3, True])
serie2

0    radiohead
1          2.3
2         True
dtype: object

#### Acessando elementos

Numa lista, acessamos os elementos por meio de índices posicionais, numéricos, certo?

Acessar o primeiro elemento: lista[0], o terceiro elemento: lista[2], e assim por diante.

Nas séries podemos acessar da mesma forma, porém, podemos acessar os elementos de uma _serie_ com um índice posicional, mas não precisa ser assim, podemos criar um índice próprio que nem precisa ser numérico.

Vamos criar um caso de exemplo, queremos guardar as calorias de cada alimento que vamos ingerir... E com isso criamos uma serie com as calorias de uma banana, um prato feito e um big mac:

In [7]:
serie_sem_nome = pd.Series([200, 350, 550])
serie_sem_nome

0    200
1    350
2    550
dtype: int64

In [8]:
# Vamos agora dar nomes aos indices e assim saberemos quais calorias é de quais alimentos:
serie_com_nome = pd.Series([200, 350, 550], index=['banana', 'prato feito', 'big mac'])
serie_com_nome

banana         200
prato feito    350
big mac        550
dtype: int64

In [10]:
# Quantas calorias tem um big mac?
serie_com_nome['big mac']

np.int64(550)

Vamos para mais um exemplo, para conseguirmos entender sobre acessar os elementos de uma **serie**

In [19]:
labels = ['a', 'b', 'c']
minha_lista = [10, 20, 30]
d = {'a':10, 'b':20, 'c':30} # Um dicionário para utilizar no Series

**Uma observação importante:**
Não preciso especificar qual será meu data ou meu index, o pandas identifica automáticamente quando eu coloco em ordem, veja os exemplos abaixo.

In [14]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [16]:
pd.Series(labels, minha_lista)
# A mesma coisa seria: pd.Series(data=labels, index=minha_lista)

10    a
20    b
30    c
dtype: object

Eu também posso utilizar dicionários no Series, e o interessante é que, automaticamente o _pandas_ identifica a chave do dicionário como o indice do elemento. Vejamos abaixo:

In [17]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [18]:
d2 = {"banana": 34, "uva": 21, "laranja": 22} # Quantidade de frutas que eu tenho
pd.Series(d2)

banana     34
uva        21
laranja    22
dtype: int64

In [22]:
# Quantas bananas eu tenho?
d2['banana']

34

### 2.5. DataFrames

O DataFrame do Pandas é uma maneira de representar e trabalhar com dados tabulares. Ele pode ser visto como uma tabela que organiza os dados em linhas e colunas, criando uma estrutura de dados bidimensional. Um DataFrame pode ser criado do zero ou você pode usar outras estruturas de dados, como matrizes NumPy.

Em outras palavras: DataFrames são estruturas 2D (linhas e colunas) — parecida com uma planilha do Excel ou uma tabela SQL.

#### Criando DataFrames

In [28]:
# Criando DataFrames a partir de dicionários:

dados = {
'Nome': ['Ana', 'Bruno', 'Carlos'],
'Idade': [25, 30, 35],
'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte']
}

df = pd.DataFrame(dados)
print(df)

     Nome  Idade          Cidade
0     Ana     25       São Paulo
1   Bruno     30  Rio de Janeiro
2  Carlos     35  Belo Horizonte

In [32]:
# Criando DataFrames a partir de listas:
df2 = pd.DataFrame({'Calorias':[200, 350, 550], 'Gordura (%)':[0, 6, 15]}, index=['banana', 'prato feito', 'big mac'])
print(df2)
print()

             Calorias  Gordura (%)
banana            200            0
prato feito       350            6
big mac           550           15

#### Acessando DataFrames

Quando trabalhamos com Series, acessamos atraves do indice, já nos DataFrammes, acessamos atraves do nome da coluna

In [36]:
df[['Cidade']] # Retornar a consulta como DataFrame

           Cidade
0       São Paulo
1  Rio de Janeiro
2  Belo Horizonte

In [37]:
df['Cidade'] # Retornar a consulta como Serie

0         São Paulo
1    Rio de Janeiro
2    Belo Horizonte
Name: Cidade, dtype: object

#### Adicionando colunas

In [38]:
df['new'] = df['Idade']

In [39]:
df

     Nome  Idade          Cidade  new
0     Ana     25       São Paulo   25
1   Bruno     30  Rio de Janeiro   30
2  Carlos     35  Belo Horizonte   35

In [44]:
# Quantas calorias eu consumiria ao comer duas vezes:
df2['Total_Calorias'] = df2['Calorias'] * 2

In [43]:
df2

             Calorias  Gordura (%)  Total_Calorias
banana            200            0             400
prato feito       350            6             700
big mac           550           15            1100

#### Deletando colunas do DataFrame

Um observação curiosa é que, no Pandas, se não for especificado, ele ira trabalhar com uma especie de copia do DataFrame, e você trabalhará com isso, até que seja especificado que você quer que seja o original. O que isso quer dizer?

Vamos atentar ao exemplo abaixo:

In [50]:
df.drop('new', axis=1)	

# axis=0 corresponde a linhas
# axis=1 corresponde a colunas

     Nome  Idade          Cidade
0     Ana     25       São Paulo
1   Bruno     30  Rio de Janeiro
2  Carlos     35  Belo Horizonte

O comando: _df.drop('new', axis=1)_ diz para o Pandas apagar a coluna que tem o nome 'new'. Porém, ele trabalha com o 'como seria' se for feito dessa maneira.

Se eu for acessar novamente esse dataframe, a coluna 'new' ainda estará lá:

In [51]:
df

     Nome  Idade          Cidade  new
0     Ana     25       São Paulo   25
1   Bruno     30  Rio de Janeiro   30
2  Carlos     35  Belo Horizonte   35

Então, como eu apago definitivamente a coluna?

Existem diversas maneiras, uma delas é salvar em um novo DataFrame:

In [52]:
df3 = df.drop('new', axis=1)
df3

     Nome  Idade          Cidade
0     Ana     25       São Paulo
1   Bruno     30  Rio de Janeiro
2  Carlos     35  Belo Horizonte

Ou então, utilizar a flag da própria função que permite fazer isso:

In [53]:
df.drop('new', axis=1, inplace=True) # Está dizendo que quero deletar do DataFrame Original e manter no Original
df

     Nome  Idade          Cidade
0     Ana     25       São Paulo
1   Bruno     30  Rio de Janeiro
2  Carlos     35  Belo Horizonte

# Referencias:

- Sobre Series:
    - https://pythonacademy.com.br/blog/series-no-pandas
 

- Sobre DataFrames:
    - https://pythonacademy.com.br/blog/dataframes-do-pandas