In [1]:
import pandas as pd

# ðŸŽ¯ Parte 1 â€” Series e DataFrames

## 1. 
Crie uma Series com os nÃºmeros de 10 a 50 (de 10 em 10) e Ã­ndices personalizados: 'A', 'B', 'C', 'D', 'E'.

- Exiba o valor correspondente ao Ã­ndice 'D'.
- Multiplique todos os valores por 2.

___

## 2.
Crie um dataFrame com os dados abaixo:

| Aluno | Nota1 | Nota2 | Nota3 |
| ----- | ----- | ----- | ----- |
| Ana   | 8     | 7     | 6     |
| Bruno | 5     | 6     | 4     |
| Carla | 9     | 8     | 10    |


- Crie uma nova coluna chamada 'MÃ©dia' com a mÃ©dia das 3 notas.
- Filtre os alunos com mÃ©dia acima de 7.

___

# ðŸŽ¯ Parte 2 â€” Filtros e IndexaÃ§Ã£o

## 3.
Usando o DataFrame acima:
- Mostre as notas da Ana usando .loc[].
- Mostre a Nota2 de todos os alunos com .iloc[].
- Substitua todas as notas menores que 6 por 6.

___

# ðŸŽ¯ Parte 3 â€” Dados Ausentes

## 4.
Crie um novo DataFrame com dados faltantes:

| Nome   | Idade | SalÃ¡rio |
| ------ | ----- | ------- |
| Ana    | 25    | 3000    |
| Bruno  | NaN   | 2500    |
| Carla  | 30    | NaN     |
| Daniel | NaN   | NaN     |


- Preencha as idades faltantes com 28.
- Preencha os salÃ¡rios faltantes com a mÃ©dia da coluna.
- Remova as linhas onde ambos os valores sÃ£o NaN.

___

# ðŸŽ¯ Parte 4 â€” GroupBy AvanÃ§ado


## 5. 
Crie este DataFrame

| Departamento | FuncionÃ¡rio | SalÃ¡rio |
| ------------ | ----------- | ------- |
| RH           | Ana         | 3000    |
| RH           | Bruno       | 3200    |
| TI           | Carla       | 4000    |
| TI           | Daniel      | 4500    |
| Vendas       | Eduardo     | 3500    |


- Calcule o salÃ¡rio mÃ©dio por departamento.
- Conte quantos funcionÃ¡rios existem em cada departamento.
- Pegue o maior salÃ¡rio de cada departamento.

___

# ðŸŽ¯ Parte 5 â€” Merge, Join e Concat

## 6.
Crie dois dataframes:

In [ ]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Produto': ['A', 'B', 'C']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'PreÃ§o': [10, 20, 15]
})

- FaÃ§a um merge do tipo left.
- FaÃ§a um join() usando o ID como Ã­ndice.
- FaÃ§a um concat() horizontal desses dois DataFrames.

___

# Parte 6 â€” SÃ©ries Temporais

## 7. 
Crie uma sÃ©rie de datas mensais de '2020-01-01' atÃ© '2020-12-01':

- Crie uma coluna 'Vendas' com valores de 100 a 1200.
- Calcule o total anual de vendas.
- Crie uma coluna 'Trimestre' indicando o trimestre de cada data.
- Filtre apenas as vendas do segundo trimestre.

___

# Parte 7 â€” OperaÃ§Ãµes com DataFrames

## 8.
Crie o seguinte DataFrame:

| Produto | Custo | Venda |
| ------- | ----- | ----- |
| A       | 50    | 80    |
| B       | 30    | 60    |
| C       | 40    | 90    |


- Calcule a coluna Lucro = Venda - Custo.
- Calcule a margem de lucro (%).
- Filtre produtos com margem acima de 50%

___

# Parte 8 â€” Entrada/SaÃ­da de Dados

## 9. 
Salve o DataFrame acima como:
- CSV: 'lucro.csv'
- Excel: 'lucro.xlsx'

Depois:

- Leia novamente o arquivo CSV.
- Verifique o conteÃºdo lido.

___

# BÃ”NUS â€” Desafio Final Completo
Crie um programa que:

- Leia um CSV com dados fictÃ­cios de clientes: 'clientes.csv' com as colunas ID, Nome, Data de Nascimento, Cidade, Compra Total.
- Calcule a idade dos clientes.
- Filtre clientes com compras acima de R$5000.
- Agrupe por cidade e calcule a soma das compras.
- Salve o resultado como 'relatorio_compras.xlsx'.