In [3]:
# Importando pandas
import pandas as pd

In [144]:
# Importando os dados
df = pd.read_csv("dados/microdados_censo_PE_2024.csv")

In [7]:
df.head()

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_REGIAO_GEOG_INTERM,CO_REGIAO_GEOG_INTERM,...,QT_TUR_BAS_D,QT_TUR_BAS_N,QT_TUR_BAS_EAD,QT_TUR_INF_INT,QT_TUR_INF_CRE_INT,QT_TUR_INF_PRE_INT,QT_TUR_FUND_INT,QT_TUR_FUND_AI_INT,QT_TUR_FUND_AF_INT,QT_TUR_MED_INT
0,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,18.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,12.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,15.0,9.0,0.0,0.0,0.0,0.0,3.0,0.0,3.0,0.0
4,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.tail()

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_REGIAO_GEOG_INTERM,CO_REGIAO_GEOG_INTERM,...,QT_TUR_BAS_D,QT_TUR_BAS_N,QT_TUR_BAS_EAD,QT_TUR_INF_INT,QT_TUR_INF_CRE_INT,QT_TUR_INF_PRE_INT,QT_TUR_FUND_INT,QT_TUR_FUND_AI_INT,QT_TUR_FUND_AF_INT,QT_TUR_MED_INT
9931,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9932,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9933,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9934,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,11.0,4.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0
9935,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9936 entries, 0 to 9935
Columns: 426 entries, NU_ANO_CENSO to QT_TUR_MED_INT
dtypes: float64(396), int64(14), object(16)
memory usage: 32.3+ MB

In [21]:
df.isnull().sum()

NU_ANO_CENSO             0
NO_REGIAO                0
CO_REGIAO                0
NO_UF                    0
SG_UF                    0
                      ...
QT_TUR_INF_PRE_INT    1943
QT_TUR_FUND_INT       1943
QT_TUR_FUND_AI_INT    1943
QT_TUR_FUND_AF_INT    1943
QT_TUR_MED_INT        1943
Length: 426, dtype: int64

In [30]:
# Se vocÃª quiser substituir por 0 somente em colunas numÃ©ricas, e deixar outras colunas (como object, string, datetime, etc.) intactas.
df[df.select_dtypes(include='number').columns] = df.select_dtypes(include='number').fillna(0)

___

## TRATANDO OS DADOS NULOS

In [150]:
df.fillna(0, inplace=True)

In [152]:
df.isnull().sum()

NU_ANO_CENSO          0
NO_REGIAO             0
CO_REGIAO             0
NO_UF                 0
SG_UF                 0
                     ..
QT_TUR_INF_PRE_INT    0
QT_TUR_FUND_INT       0
QT_TUR_FUND_AI_INT    0
QT_TUR_FUND_AF_INT    0
QT_TUR_MED_INT        0
Length: 426, dtype: int64

___

### Algumas perguntas para a anÃ¡lise:
- Quais escolas tem biblioteca, quadra, banheiros, area verde (ou uma Ã¡rea de lazer)?
- Quais escolas tem laboratÃ³rios (de quÃ­mica, de informÃ¡tica, etc)?
- Quais os meios mais comuns de Ã¡gua nas escolas?
- E para energia?

___

In [153]:
# Contagem de dependencia administrativas das escolas (Se sÃ£o pÃºblicas ou privadas)
df['TP_DEPENDENCIA'].value_counts()

TP_DEPENDENCIA
3    5720
4    3101
2    1089
1      26
Name: count, dtype: int64

**DiferenÃ§a entre as escolas:**

- A escola municipal faz parte do municÃ­pio, e Ã© ele quem deve responder por ela;
- JÃ¡ a escola estadual Ã© dever do prÃ³prio Estado cuidar dela, com investimento nas refeiÃ§Ãµes, estruturas fÃ­sicas, concurso para professores, etc.
- Por sua vez, uma escola federal Ã© de responsabilidade do paÃ­s, por isso vemos os "Institutos Federais de EducaÃ§Ã£o" os IFs.
- E por fim, as escolas privadas nÃ£o recebem dinheiro pÃºblico, mas sim dos donos da escola, da mensalidade dos alunos, etc.

1 - Federal | 2 - Estadual | 3 - Municipal | 4 - Privada

In [154]:
df_copy = df.copy()

df_copy['CATEGORIA_ESCOLA'] = df_copy['TP_DEPENDENCIA'].map({
    1: 'Federal',
    2: 'Estadual',
    3: 'Municipal',
    4: 'Privada'
})

In [155]:
df_copy

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_REGIAO_GEOG_INTERM,CO_REGIAO_GEOG_INTERM,...,QT_TUR_BAS_N,QT_TUR_BAS_EAD,QT_TUR_INF_INT,QT_TUR_INF_CRE_INT,QT_TUR_INF_PRE_INT,QT_TUR_FUND_INT,QT_TUR_FUND_AI_INT,QT_TUR_FUND_AF_INT,QT_TUR_MED_INT,CATEGORIA_ESCOLA
0,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Privada
1,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Municipal
2,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Municipal
3,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,9.0,0.0,0.0,0.0,0.0,3.0,0.0,3.0,0.0,Estadual
4,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Privada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9931,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Municipal
9932,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Privada
9933,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Municipal
9934,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,4.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,Municipal
9935,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Municipal

In [156]:
df_publicas = df_copy[df_copy['CATEGORIA_ESCOLA'].isin(['Federal', 'Estadual', 'Municipal'])]
df_privadas = df_copy[df_copy['CATEGORIA_ESCOLA'] == 'Privada']

In [157]:
df_publicas

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_REGIAO_GEOG_INTERM,CO_REGIAO_GEOG_INTERM,...,QT_TUR_BAS_N,QT_TUR_BAS_EAD,QT_TUR_INF_INT,QT_TUR_INF_CRE_INT,QT_TUR_INF_PRE_INT,QT_TUR_FUND_INT,QT_TUR_FUND_AI_INT,QT_TUR_FUND_AF_INT,QT_TUR_MED_INT,CATEGORIA_ESCOLA
1,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Municipal
2,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Municipal
3,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,9.0,0.0,0.0,0.0,0.0,3.0,0.0,3.0,0.0,Estadual
5,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Estadual
7,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Municipal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9930,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Municipal
9931,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Municipal
9933,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Municipal
9934,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,4.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,Municipal
9935,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Municipal

In [158]:
df_privadas

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_REGIAO_GEOG_INTERM,CO_REGIAO_GEOG_INTERM,...,QT_TUR_BAS_N,QT_TUR_BAS_EAD,QT_TUR_INF_INT,QT_TUR_INF_CRE_INT,QT_TUR_INF_PRE_INT,QT_TUR_FUND_INT,QT_TUR_FUND_AI_INT,QT_TUR_FUND_AF_INT,QT_TUR_MED_INT,CATEGORIA_ESCOLA
0,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Privada
4,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Privada
6,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Privada
14,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Privada
16,2024,Nordeste,2,Pernambuco,PE,26,Abreu e Lima,2600054,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Privada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9903,2024,Nordeste,2,Pernambuco,PE,26,VitÃ³ria de Santo AntÃ£o,2616407,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Privada
9907,2024,Nordeste,2,Pernambuco,PE,26,VitÃ³ria de Santo AntÃ£o,2616407,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Privada
9908,2024,Nordeste,2,Pernambuco,PE,26,VitÃ³ria de Santo AntÃ£o,2616407,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Privada
9909,2024,Nordeste,2,Pernambuco,PE,26,VitÃ³ria de Santo AntÃ£o,2616407,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Privada
9932,2024,Nordeste,2,Pernambuco,PE,26,XexÃ©u,2616506,Recife,2601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Privada

## Estrutura das escolas

### Quais escolas tem bibliotecas (e/ ou sala de leituras)?

### Em escolas pÃºblicas (Federais, Municipais e Estaduais)

In [174]:
df_publicas['IN_BIBLIOTECA'].value_counts()

IN_BIBLIOTECA
0.0    4567
1.0    2268
Name: count, dtype: int64

In [170]:
df_publicas['IN_BIBLIOTECA_SALA_LEITURA'].value_counts()

IN_BIBLIOTECA_SALA_LEITURA
0.0    3800
1.0    3035
Name: count, dtype: int64

In [165]:
# escolas_com_biblioteca = df[df['IN_BIBLIOTECA'] == 1]

df_bibli_pub = df_publicas[
    (df_publicas['IN_BIBLIOTECA'] == 1) &
    (df_publicas['IN_BIBLIOTECA_SALA_LEITURA'] == 1)
]

df_resumo_bibli_pub = df_bibli_pub.groupby('NO_MUNICIPIO')['IN_BIBLIOTECA'].count()
df_resumo_bibli_pub = df_resumo_bibli_pub.sort_values(ascending=False)

In [71]:
# df_resumo_bibli[df_resumo_bibli.index == 'VicÃªncia']

In [166]:
df_resumo_bibli_pub.head() # Municipios com maior numeros de escolas com bibliotecas

NO_MUNICIPIO
Recife                     332
JaboatÃ£o dos Guararapes    105
Caruaru                     79
Petrolina                   58
Olinda                      56
Name: IN_BIBLIOTECA, dtype: int64

In [167]:
df_resumo_bibli_pub.tail() # Municipios com menor numeros de escolas com bibliotecas

NO_MUNICIPIO
Salgadinho    1
SolidÃ£o       1
SanharÃ³       1
Terra Nova    1
Terezinha     1
Name: IN_BIBLIOTECA, dtype: int64

### Em escolas privadas

In [168]:
df_privadas['IN_BIBLIOTECA'].value_counts()

IN_BIBLIOTECA
0.0    1571
1.0    1530
Name: count, dtype: int64

In [ ]:
df_bibli_priv = df_publicas[
    (df_publicas['IN_BIBLIOTECA'] == 1) &
    (df_publicas['IN_BIBLIOTECA_SALA_LEITURA'] == 1)
]

df_resumo_bibli_priv = df_bibli_priv.groupby('NO_MUNICIPIO')['IN_BIBLIOTECA'].count()
df_resumo_bibli_priv = df_resumo_bibli_priv.sort_values(ascending=False)

In [40]:
# df_resumo_bibli.to_excel('resumo_bibli.xlsx')

In [68]:
df2 = df[
    (df['IN_BIBLIOTECA'] == 1) &
    (df['IN_BIBLIOTECA_SALA_LEITURA'] == 1) &
    (df['TP_LOCALIZACAO'] == 2) # 1 - Urbana | 2 = Rural
]

df2_resumo = df2.groupby('NO_MUNICIPIO')['IN_BIBLIOTECA'].count()
df2_resumo = df2_resumo.sort_values(ascending=False)

In [69]:
df2_resumo

NO_MUNICIPIO
Caruaru                    22
Carnaubeira da Penha       19
Cabo de Santo Agostinho    17
Petrolina                  17
Paudalho                   14
                           ..
Santa Terezinha             1
Tupanatinga                 1
TacaimbÃ³                    1
SÃ£o Vicente FÃ©rrer          1
Venturosa                   1
Name: IN_BIBLIOTECA, Length: 137, dtype: int64

### ESCOLAS COM BIBLIOTECAS E SEM

In [96]:
df_com_biblio = df[df['IN_BIBLIOTECA'] == 1] # COM
df_sem_biblio = df[df['IN_BIBLIOTECA'] == 0] # SEM

In [97]:
# Agrupar e contar por municÃ­pio (ou outra categoria)

resumo_com = df_com_biblio.groupby('NO_MUNICIPIO').size().rename('COM_BIBLIOTECA')
resumo_sem = df_sem_biblio.groupby('NO_MUNICIPIO').size().rename('SEM_BIBLIOTECA')

In [98]:
# Juntando os dois dataframes
df_resumo_bibli_2 = pd.concat([resumo_com, resumo_sem], axis=1).fillna(0).astype(int)

df_resumo_bibli_2['TOTAL'] = df_resumo_bibli_2['COM_BIBLIOTECA'] + df_resumo_bibli_2['SEM_BIBLIOTECA']

df_resumo_bibli_2 = df_resumo_bibli_2.sort_values('TOTAL', ascending=False)

In [99]:
df_resumo_bibli_2

                         COM_BIBLIOTECA  SEM_BIBLIOTECA  TOTAL
NO_MUNICIPIO
Recife                              696             539   1235
JaboatÃ£o dos Guararapes             238             276    514
Petrolina                           108             271    379
Olinda                              170             162    332
Caruaru                             147             151    298
...                                 ...             ...    ...
Ingazeira                             1               9     10
Terra Nova                            1               8      9
Granito                               6               3      9
SolidÃ£o                               1               5      6
Fernando de Noronha                   2               0      2

[185 rows x 3 columns]

In [100]:
# Visualizar a proporÃ§Ã£o do dataframe
df_resumo_bibli_2['%_COM_BIBLIOTECA'] = (df_resumo_bibli_2['COM_BIBLIOTECA'] / df_resumo_bibli_2['TOTAL']) * 100
df_resumo_bibli_2['%_SEM_BIBLIOTECA'] = (df_resumo_bibli_2['SEM_BIBLIOTECA'] / df_resumo_bibli_2['TOTAL']) * 100

In [101]:
df_resumo_bibli_2

,COM_BIBLIOTECA,SEM_BIBLIOTECA,TOTAL,%_COM_BIBLIOTECA,%_SEM_BIBLIOTECA
NO_MUNICIPIO,,,,,
Recife,696,539,1235,56.356275,43.643725
JaboatÃ£o dos Guararapes,238,276,514,46.303502,53.696498
Petrolina,108,271,379,28.496042,71.503958
Olinda,170,162,332,51.204819,48.795181
Caruaru,147,151,298,49.328859,50.671141
...,...,...,...,...,...
Ingazeira,1,9,10,10.000000,90.000000
Terra Nova,1,8,9,11.111111,88.888889
Granito,6,3,9,66.666667,33.333333
SolidÃ£o,1,5,6,16.666667,83.333333
Fernando de Noronha,2,0,2,100.000000,0.000000

___

# Infraestrutura ligada ao esgoto das escolas

Algumas escolas tem mais de uma opÃ§Ã£o do tipo de esgoto. Devido a isso, fiz duas analises:

**1Âº: Mostra e apresenta a abordagem resumida (sem duplicidade)**

**2Âº: Apresente a realidade detalhada em separado**

In [129]:
colunas_esgoto = [
    'TP_LOCALIZACAO',
    'IN_ESGOTO_REDE_PUBLICA',
    'IN_ESGOTO_FOSSA_SEPTICA',
    'IN_ESGOTO_FOSSA_COMUM',
    'IN_ESGOTO_FOSSA',
    'IN_ESGOTO_INEXISTENTE'
]

### 1Âº Primeira AnÃ¡lise

In [133]:
# Contar quantas escolas tÃªm cada infraestrutura (valor == 1)
df_resumo_esgoto = df.groupby('NO_MUNICIPIO')[colunas_esgoto[1:]].sum()

df_resumo_esgoto['TOTAL'] = df_resumo_esgoto[colunas_esgoto[1]] +  df_resumo_esgoto[colunas_esgoto[2]] + df_resumo_esgoto[colunas_esgoto[3]] + df_resumo_esgoto[colunas_esgoto[4]] + df_resumo_esgoto[colunas_esgoto[5]] 

df_resumo_esgoto = df_resumo_esgoto.sort_values('TOTAL', ascending=False)

In [134]:
df_resumo_esgoto

,IN_ESGOTO_REDE_PUBLICA,IN_ESGOTO_FOSSA_SEPTICA,IN_ESGOTO_FOSSA_COMUM,IN_ESGOTO_FOSSA,IN_ESGOTO_INEXISTENTE,TOTAL
NO_MUNICIPIO,,,,,,
Recife,836.0,150.0,105.0,255.0,0.0,1346.0
JaboatÃ£o dos Guararapes,243.0,70.0,75.0,145.0,2.0,535.0
Petrolina,223.0,104.0,19.0,123.0,1.0,470.0
Caruaru,183.0,68.0,11.0,79.0,0.0,341.0
Olinda,211.0,20.0,23.0,43.0,4.0,301.0
...,...,...,...,...,...,...
SolidÃ£o,3.0,2.0,2.0,4.0,0.0,11.0
Tuparetama,6.0,0.0,2.0,2.0,0.0,10.0
Granito,6.0,1.0,1.0,2.0,0.0,10.0
Brejinho,2.0,1.0,2.0,3.0,0.0,8.0
Fernando de Noronha,2.0,1.0,0.0,1.0,0.0,4.0

In [124]:
# df[colunas_esgoto]['IN_ESGOTO_INEXISTENTE'].value_counts()
df[colunas_esgoto]

,IN_ESGOTO_REDE_PUBLICA,IN_ESGOTO_FOSSA_SEPTICA,IN_ESGOTO_FOSSA_COMUM,IN_ESGOTO_FOSSA,IN_ESGOTO_INEXISTENTE
0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,1.0,0.0
2,0.0,0.0,1.0,1.0,0.0
3,0.0,0.0,1.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...
9931,1.0,0.0,0.0,0.0,0.0
9932,0.0,0.0,0.0,0.0,0.0
9933,1.0,0.0,0.0,0.0,0.0
9934,1.0,0.0,0.0,0.0,0.0
9935,1.0,0.0,0.0,0.0,0.0

___

In [135]:
df['TP_LOCALIZACAO'].value_counts()

TP_LOCALIZACAO
1    6169
2    3767
Name: count, dtype: int64