10/07/2025

# üìä Projeto: An√°lise de Desempenho da Loja "TecnoF√°cil"

## Contexto

A TecnoF√°cil √© uma loja de pequeno porte que vende eletr√¥nicos e acess√≥rios. 

A ger√™ncia quer entender melhor os dados de vendas, clientes e desempenho ao longo dos meses. Voc√™ foi contratado como analista de dados para transformar dados brutos em informa√ß√µes √∫teis.

Essa ideia de projeto foi gerado pelo `ChatGPT`, para que eu pudesse colocar em pr√°tica todo o meu aprendizado feito nos cursos sobre Pandas, NumPy e Matplotlib.

## üóÇÔ∏è Dados do Projeto

In [1]:
import pandas as pd

In [2]:
base = pd.read_csv("dados_vendas.csv")

In [3]:
base.head()

,Data da Venda,Produto,Categoria,Quantidade,Pre√ßo Unit√°rio,Receita,Custo,Cliente,Estado
0,2024-09-07,Notebook X1,Inform√°tica,1,3200.0,3200.0,2700.0,Bruno Mendes,BA
1,2025-06-08,Teclado Mec√¢nico,Acess√≥rios,2,350.0,700.0,500.0,Emilly Freitas,MG
2,2025-06-21,Notebook X1,Inform√°tica,5,3200.0,16000.0,13500.0,Isabella Almeida,RJ
3,2024-12-24,Tablet M7,Celulares,4,1450.0,5800.0,4400.0,Yago Cunha,SP
4,2025-02-20,Fone Bluetooth,Acess√≥rios,1,150.0,150.0,90.0,Emanuelly Teixeira,RS

In [20]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Data da Venda   100 non-null    object
 1   Produto         100 non-null    object
 2   Categoria       100 non-null    object
 3   Quantidade      100 non-null    int64
 4   Pre√ßo Unit√°rio  100 non-null    float64
 5   Receita         100 non-null    float64
 6   Custo           100 non-null    float64
 7   Cliente         100 non-null    object
 8   Estado          100 non-null    object
dtypes: float64(3), int64(1), object(5)
memory usage: 7.2+ KB

In [26]:
# Quais s√£o as colunas da nossa base de dados:
base.columns

Index(['Data da Venda', 'Produto', 'Categoria', 'Quantidade', 'Pre√ßo Unit√°rio',
       'Receita', 'Custo', 'Cliente', 'Estado'],
      dtype='object')

In [15]:
# Apenas testando algo do pandas

base.groupby('Produto')[["Quantidade", "Custo"]].sum()

                  Quantidade     Custo
Produto
Cabo USB-C                34     680.0
Caixa de Som              29    4350.0
Fone Bluetooth            30    2700.0
Impressora Wi-Fi          21   12600.0
Monitor Full HD           21   14700.0
Mouse Gamer               35    2450.0
Notebook X1               41  110700.0
Smartphone Z5             14   25200.0
Tablet M7                 28   30800.0
Teclado Mec√¢nico          48   12000.0

In [23]:
# Quantidade de produtos por categoria

base[["Categoria"]].value_counts()

Categoria
Acess√≥rios     60
Inform√°tica    25
Celulares      15
Name: count, dtype: int64

Com isso podemos visualizar a quantidade de produtos por categoria, e a categoria acess√≥rios √© a que tem mais itens (60% do total)

In [22]:
# Verificando se existem valores nulos (NaN)
base.isnull().sum() # Contar os valores ausentes

Data da Venda     0
Produto           0
Categoria         0
Quantidade        0
Pre√ßo Unit√°rio    0
Receita           0
Custo             0
Cliente           0
Estado            0
dtype: int64

Com isso, posso observar que n√£o existem nenhum valor NaN (nulo), ent√£o j√° √© um caminho bom.

In [34]:
# Fazendo um agrupamento (por Produto e Categoria) e me retornando a soma de todas as linhas de 'Quantidade', 'Custo' e 'Receita'. 
# Al√©m de est√° sendo ordenado do menor para o maior pelo 'Custo' que a empresa tem por cada produto.

base.groupby(['Produto', 'Categoria'])[['Quantidade', 'Custo', 'Receita']].sum().sort_values(by=['Quantidade'])

                              Quantidade     Custo   Receita
Produto          Categoria
Smartphone Z5    Celulares            14   25200.0   29400.0
Impressora Wi-Fi Inform√°tica          21   12600.0   16380.0
Monitor Full HD  Inform√°tica          21   14700.0   19950.0
Tablet M7        Celulares            28   30800.0   40600.0
Caixa de Som     Acess√≥rios           29    4350.0    6090.0
Fone Bluetooth   Acess√≥rios           30    2700.0    4500.0
Cabo USB-C       Acess√≥rios           34     680.0    1530.0
Mouse Gamer      Acess√≥rios           35    2450.0    4200.0
Notebook X1      Inform√°tica          41  110700.0  131200.0
Teclado Mec√¢nico Acess√≥rios           48   12000.0   16800.0

### Vamos a uma r√°pida an√°lise de vendas

Uma **OBS** a detalhar: O Custo, como o nome sugere, √© quanto vale o produto para a empresa adquirir. A receita √© quanto eu ganhei ao vender para o cliente (Quantidade * Pre√ßo Unit√°rio).

- Dentre os produtos, o que mais tem, em **quantidade vendidas** s√£o o seguinte:
    1. Teclado Mec√¢nico	- Acess√≥rios - 48 unidades;
    2. Notebook X1 - Inform√°tica - 41;
    3. Mouse Gamer - Acess√≥rios - 35.


- Outra coisa que observei √© que, os clientes sempre v√£o atr√°s de `Acess√≥rios`, gastando mais um pouco nisso.

In [37]:
base.groupby(['Cliente', 'Estado'])[['Produto']].value_counts()

Cliente             Estado  Produto
Amanda Oliveira     BA      Notebook X1         1
Ana Clara Lopes     RJ      Cabo USB-C          1
Ana Clara Santos    BA      Caixa de Som        1
Ana Julia Ferreira  RJ      Teclado Mec√¢nico    1
Ana Julia Mendes    CE      Mouse Gamer         1
                                               ..
Vicente Duarte      DF      Monitor Full HD     1
Vinicius Carvalho   SC      Teclado Mec√¢nico    1
Vitor Rocha         RJ      Teclado Mec√¢nico    1
Vit√≥ria Santos      RJ      Impressora Wi-Fi    1
Yago Cunha          SP      Tablet M7           1
Name: count, Length: 100, dtype: int64

Dentro dessa base de dados Ficticias, n√£o se tem clientes repetidos.

___

## üéØ Objetivos

### üìå Parte 1: Prepara√ß√£o dos Dados (Pandas + NumPy)

- Ler os dados com pd.read_csv()
- Converter a coluna de data com pd.to_datetime()
- Calcular colunas novas:
    - Lucro = Receita - Custo
    - M√™s da venda
- Usar NumPy para:
    - Calcular m√©dia, desvio padr√£o e valores √∫nicos de categorias
    - Criar array de lucro e fazer an√°lises manuais (m√©dia, max, min)

In [38]:
# Converter a coluna de data:
base['Data da Venda'] = pd.to_datetime(base['Data da Venda'])

In [39]:
# VErificando o tipo das colunas
base.dtypes

Data da Venda     datetime64[ns]
Produto                   object
Categoria                 object
Quantidade                 int64
Pre√ßo Unit√°rio           float64
Receita                  float64
Custo                    float64
Cliente                   object
Estado                    object
dtype: object

In [41]:
# Calcular novas colunas: LUCRO

base['Lucro'] = base['Receita'] - base['Custo']

In [42]:
base.head()

,Data da Venda,Produto,Categoria,Quantidade,Pre√ßo Unit√°rio,Receita,Custo,Cliente,Estado,Lucro
0,2024-09-07,Notebook X1,Inform√°tica,1,3200.0,3200.0,2700.0,Bruno Mendes,BA,500.0
1,2025-06-08,Teclado Mec√¢nico,Acess√≥rios,2,350.0,700.0,500.0,Emilly Freitas,MG,200.0
2,2025-06-21,Notebook X1,Inform√°tica,5,3200.0,16000.0,13500.0,Isabella Almeida,RJ,2500.0
3,2024-12-24,Tablet M7,Celulares,4,1450.0,5800.0,4400.0,Yago Cunha,SP,1400.0
4,2025-02-20,Fone Bluetooth,Acess√≥rios,1,150.0,150.0,90.0,Emanuelly Teixeira,RS,60.0

In [55]:
# Calcular novas colunas: M√™s da Venda
base.groupby([base['Data da Venda'].dt.month, 'Categoria'])[['Receita']].sum()

                           Receita
Data da Venda Categoria
1             Acess√≥rios    3290.0
              Celulares    16450.0
2             Acess√≥rios    2600.0
              Inform√°tica  16000.0
3             Acess√≥rios    2280.0
              Inform√°tica   3800.0
4             Acess√≥rios    3820.0
              Inform√°tica  12100.0
5             Acess√≥rios    2495.0
              Celulares     9200.0
              Inform√°tica  29750.0
6             Acess√≥rios    2780.0
              Inform√°tica  49560.0
7             Acess√≥rios    2470.0
              Inform√°tica   4750.0
8             Acess√≥rios    1305.0
              Celulares     7250.0
              Inform√°tica   3120.0
9             Acess√≥rios    2645.0
              Celulares     5000.0
              Inform√°tica   9440.0
10            Acess√≥rios    2565.0
              Inform√°tica  20750.0
11            Acess√≥rios    5940.0
              Celulares    20000.0
              Inform√°tica  14360.0
12            Acess√≥rios     930.0
              Celulares    12100.0
              Inform√°tica   3900.0

___

### üìå Parte 2: An√°lises (Pandas)

- Qual foi o produto mais vendido?
- Qual foi o m√™s com mais vendas?
- Qual foi a categoria mais lucrativa?
- Qual cliente mais comprou?
- Qual estado gerou mais receita?

In [61]:
# Qual foi o produto mais vendido?
produtos_mais_vendidos = base.groupby(['Produto'])[['Quantidade', 'Receita']].sum().sort_values(by=['Quantidade'])

In [83]:
produtos_mais_vendidos.tail(1)

                  Quantidade  Receita
Produto
Teclado Mec√¢nico          48  16800.0

O produto que mais foi vendido para os clientes foi o _Teclado Mec√¢nico_, gerando uma receita de R$ 16.800,00

In [74]:
# Qual foi o m√™s com mais vendas?
base.groupby([base['Data da Venda'].dt.month])[['Receita']].sum().sort_values(by=['Receita']).tail(1)

               Receita
Data da Venda
6              52340.0

In [79]:
# Qual foi a categoria mais lucrativa?
base.groupby(['Categoria'])[['Lucro']].sum().sort_values(by=["Lucro"]).tail(1)

               Lucro
Categoria
Inform√°tica  29530.0

In [52]:
# Qual cliente mais comprou?

In [81]:
# Qual estado gerou mais receita?
base.groupby(['Estado'])[['Receita']].sum().sort_values(by=["Receita"]).tail(1)

        Receita
Estado
RJ      60030.0

___

### üìå Parte 3: Visualiza√ß√µes (Matplotlib e Seaborn)

- üìä Gr√°fico de barras com Top 5 produtos mais vendidos
- üìà Gr√°fico de linha com vendas mensais
- üìâ Gr√°fico de barras com lucro por categoria
- üî• Heatmap com correla√ß√£o entre Receita, Custo, Lucro, Quantidade
- ü•ß Gr√°fico de pizza: propor√ß√£o de vendas por categoria

___

### üìå Parte 4: Exporta√ß√£o de Resultados

- Criar um resumo em DataFrame com:
- Receita total
- Lucro total
- Produto campe√£o de vendas
- Exportar esse resumo para um CSV (resumo_final.csv)
- Salvar os gr√°ficos como PNGs

___

# üìà Insights Comerciais

## üîπ 1. Produtos mais vendidos

- Quais produtos saem mais?
- Qual o ticket m√©dio de cada produto?

üìå Exemplo de pergunta: _`"Devemos manter mais estoque de quais itens?"`_

## üîπ 2. Categorias com maior volume de vendas

- Qual categoria mais vendeu em quantidade e em valor?
- Existe alguma categoria com desempenho fraco?

üìå Exemplo:

`"A categoria ‚ÄòCelulares‚Äô representa 40% do faturamento, mas apenas 20% das unidades vendidas. Isso indica produtos com ticket m√©dio mais alto."`

## üîπ 3. Receita por estado (ou regi√£o)

- Quais estados compram mais?
- H√° locais com baixo desempenho?

üìå Exemplo:

`"O estado de SP gerou 35% da receita total ‚Äî ser√° que vale investir em marketing local?"`

## üîπ 4. Lucro por produto e por categoria

- Quais produtos s√£o mais lucrativos?
- Existe algum produto que vende muito, mas tem baixo lucro?

üìå Exemplo:

`"O Mouse Gamer vende muito, mas a margem de lucro √© baixa ‚Äî talvez seja hora de reajustar o pre√ßo."`

## üîπ 5. Desempenho mensal

- Qual m√™s teve maior receita?
- H√° sazonalidade? (ex: aumento em novembro/dezembro)

üìå Exemplo:

`"As vendas disparam em dezembro. Devemos nos preparar com campanhas promocionais nesse per√≠odo."`

## An√°lises financeiras

### üîπ 6. Lucro total e margem de lucro

- Qual a margem de lucro m√©dia da empresa?
- A margem est√° aumentando ao longo dos meses?

üìå Exemplo:

`"A margem m√©dia est√° em 20%, mas em janeiro foi 15% ‚Äî houve algo errado naquele m√™s?"`

## üìä Visualmente, com Matplotlib/Seaborn, voc√™ pode:

- Comparar lucro por categoria com gr√°ficos de barras
- Ver a evolu√ß√£o das vendas com gr√°ficos de linha
- Criar heatmaps de correla√ß√£o para explorar rela√ß√µes entre pre√ßo, quantidade, receita e lucro
- Gerar gr√°ficos de pizza para propor√ß√µes de vendas