10/07/2025

# üìä Projeto: An√°lise de Desempenho da Loja "TecnoF√°cil"

## Contexto

A TecnoF√°cil √© uma loja de pequeno porte que vende eletr√¥nicos e acess√≥rios. A ger√™ncia quer entender melhor os dados de vendas, clientes e desempenho ao longo dos meses. Voc√™ foi contratado como analista de dados para transformar dados brutos em informa√ß√µes √∫teis.

Essa ideia de projeto foi gerado pelo `ChatGPT`, para que eu pudesse colocar em pr√°tica todo o meu aprendizado feito nos cursos sobre Pandas, NumPy e Matplotlib.

## üóÇÔ∏è Dados do Projeto

In [1]:
import pandas as pd

In [2]:
base = pd.read_csv("dados_vendas.csv")

In [4]:
base.head()

,Data da Venda,Produto,Categoria,Quantidade,Pre√ßo Unit√°rio,Receita,Custo,Cliente,Estado
0,2024-09-07,Notebook X1,Inform√°tica,1,3200.0,3200.0,2700.0,Bruno Mendes,BA
1,2025-06-08,Teclado Mec√¢nico,Acess√≥rios,2,350.0,700.0,500.0,Emilly Freitas,MG
2,2025-06-21,Notebook X1,Inform√°tica,5,3200.0,16000.0,13500.0,Isabella Almeida,RJ
3,2024-12-24,Tablet M7,Celulares,4,1450.0,5800.0,4400.0,Yago Cunha,SP
4,2025-02-20,Fone Bluetooth,Acess√≥rios,1,150.0,150.0,90.0,Emanuelly Teixeira,RS

In [20]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Data da Venda   100 non-null    object
 1   Produto         100 non-null    object
 2   Categoria       100 non-null    object
 3   Quantidade      100 non-null    int64
 4   Pre√ßo Unit√°rio  100 non-null    float64
 5   Receita         100 non-null    float64
 6   Custo           100 non-null    float64
 7   Cliente         100 non-null    object
 8   Estado          100 non-null    object
dtypes: float64(3), int64(1), object(5)
memory usage: 7.2+ KB

In [15]:
# Apenas testando algo do pandas

base.groupby('Produto')[["Quantidade", "Custo"]].sum()

                  Quantidade     Custo
Produto
Cabo USB-C                34     680.0
Caixa de Som              29    4350.0
Fone Bluetooth            30    2700.0
Impressora Wi-Fi          21   12600.0
Monitor Full HD           21   14700.0
Mouse Gamer               35    2450.0
Notebook X1               41  110700.0
Smartphone Z5             14   25200.0
Tablet M7                 28   30800.0
Teclado Mec√¢nico          48   12000.0

In [22]:
# Apenas testando algo do pandas
# Quantidade de valores na coluna "Categoria"

base[["Categoria"]].value_counts()

Categoria
Acess√≥rios     60
Inform√°tica    25
Celulares      15
Name: count, dtype: int64

In [32]:
# Ordenando os valores
base.sort_values(by="Quantidade", ascending=False).head()

,Data da Venda,Produto,Categoria,Quantidade,Pre√ßo Unit√°rio,Receita,Custo,Cliente,Estado
2,2025-06-21,Notebook X1,Inform√°tica,5,3200.0,16000.0,13500.0,Isabella Almeida,RJ
8,2024-09-19,Impressora Wi-Fi,Inform√°tica,5,780.0,3900.0,3000.0,Sofia Ramos,BA
6,2024-11-05,Fone Bluetooth,Acess√≥rios,5,150.0,750.0,450.0,Samuel Nascimento,RS
5,2025-04-24,Teclado Mec√¢nico,Acess√≥rios,5,350.0,1750.0,1250.0,Arthur Ribeiro,DF
30,2025-02-05,Teclado Mec√¢nico,Acess√≥rios,5,350.0,1750.0,1250.0,Sr. Paulo Teixeira,PR

___

## üéØ Objetivos


### üìå Parte 1: Prepara√ß√£o dos Dados (Pandas + NumPy)

- Ler os dados com pd.read_csv()
- Converter a coluna de data com pd.to_datetime()
- Calcular colunas novas:
    - Lucro = Receita - Custo
    - M√™s da venda
- Usar NumPy para:
    - Calcular m√©dia, desvio padr√£o e valores √∫nicos de categorias
    - Criar array de lucro e fazer an√°lises manuais (m√©dia, max, min)

___

### üìå Parte 2: An√°lises (Pandas)

- Qual foi o produto mais vendido?
- Qual foi o m√™s com mais vendas?
- Qual foi a categoria mais lucrativa?
- Qual cliente mais comprou?
- Qual estado gerou mais receita?

___

### üìå Parte 3: Visualiza√ß√µes (Matplotlib e Seaborn)

- üìä Gr√°fico de barras com Top 5 produtos mais vendidos
- üìà Gr√°fico de linha com vendas mensais
- üìâ Gr√°fico de barras com lucro por categoria
- üî• Heatmap com correla√ß√£o entre Receita, Custo, Lucro, Quantidade
- ü•ß Gr√°fico de pizza: propor√ß√£o de vendas por categoria

___

### üìå Parte 4: Exporta√ß√£o de Resultados

- Criar um resumo em DataFrame com:
- Receita total
- Lucro total
- Produto campe√£o de vendas
- Exportar esse resumo para um CSV (resumo_final.csv)
- Salvar os gr√°ficos como PNGs

___